*{
    scroll-behavior: smooth;
}
.App{
    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 70px;
    color: #fff;
    background-color: #39445A;
}
.pageTitle{
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}

@media (max-width:1000px) {
    .App{
       padding-top: 80px;
    }
  }